<%- include('partials/header.ejs') -%>

<section class="project-page">
  <div class="container">
    <h4 class="text-center batch-title">CLASS OF 2020</h4>

    <div class="row">
      <% projectData.forEach((project)=>{ %>
     <div class="col-sm-4">
        <h5 class="text-center mt-5">Project</h5>
        <div class="card mt-4 rounded shadow-lg">
          <div class="card-header bg-dark text-white text-center">  <%= project.name %> </div>
          <div class="card-body">
            <p> <%= project.description %> </p>
          </div>
          <div class="card-footer bg-dark text-white"><a href="" class="text-white">LINK : <%= project.link %></a> </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>



<%- include('partials/footer.ejs') -%>